body{
    background-color:rgb(25, 25, 102);
}

img{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100%;
    margin-top: 5%;
}

h2{
    color: white;
    text-align: center;
}

p{
    color: white;
    width: 70%;
    text-align: center;
    margin-left: 15%;

}

h1{
    margin-top: 30px;
    color:white;
    margin-left: 47%;
}

li{
    color: white;
    margin-left: 47%;
}

.fa{
    text-align: center;
    padding:20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    border-radius: 50%;
}

a{
    text-align: center;
    display: block;

}

.fa-facebook{
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-left: 40%;
}
.fa-instagram{
    color: red;
}

.fa-snapchat{
    color: yellow;
}

.fa-whatsapp{
    color: green;
}